@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "@flaticon/flaticon-uicons/css/all/all";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

input[type="password"]::-ms-reveal {
  display: none;
}

.form-field-div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
.form-label {
  color: #6b7280;
  font-size: 14px;
}
/* .input-box {

} */
.bttn {
  border-radius: 6px;
  /* background-color: #2fae60; */
  padding: 8px 20px;
  color: white;
  transition-duration: 75ms;
}

.bttn-outline {
  border-radius: 6px;
  border-width: 1px;
  border-color: #e5e7eb;
  background-color: transparent;
  padding: 8px 20px;
  color: #9ea5b0;
  transition-duration: 75ms;
}

.bttn-wide {
  border-radius: 6px;
  background-color: #2fae60;
  padding: 12px 20px;
  color: white;
  transition-duration: 75ms;
}

.bttn:disabled {
  border-radius: 6px;
  background-color: #f3f4f6;
  padding: 8px 20px;
  color: #9ea5b0;
  transition-duration: 75ms;
}

.bttn-wide:disabled {
  border-radius: 6px;
  background-color: #f3f4f6;
  padding: 12px 20px;
  color: #9ea5b0;
  transition-duration: 75ms;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

i {
  display: flex;
  align-items: center;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #f3f4f6;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c3c3c3;
}
.editor h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
.editor h2 {
  display: block;
  font-size: 1.5em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.editor h3 {
  display: block;
  font-size: 1.17em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.editor p {
  display: block;
  margin-left: 0;
  margin-right: 0;
}

.editor ol {
  display: block;
  list-style-type: decimal;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

.editor ul {
  display: block;
  list-style-type: disc;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

.editor a:link {
  color: #0077ff;
  text-decoration: underline;
  cursor: auto;
}

.editor a:visited {
  color: purple;
  text-decoration: underline;
  cursor: auto;
}

.editor a:link:active {
  color: (internal value);
}

.editor a:visited:active {
  color: (internal value);
}

dialog::backdrop {
  background-color: #00000060;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  padding: 0px;
}

dialog:-internal-dialog-in-top-layer {
  max-width: 100%;
  max-height: 100%;
}
